INFO.json
{
  "name": "INFO 1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "6c56f221-b36b-4cd2-ac65-59ca87d90bc2",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        180
      ],
      "webhookId": "6ed50111-9b95-44be-8e88-e23ffaf4610d",
      "credentials": {
        "telegramApi": {
          "id": "lahgaBq0bQO8KPNG",
          "name": "Привет"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "08cc2aab-b4f2-4947-a5e6-ed588e3c882a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -780,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "43033433-f603-4998-9fe5-7475551ab0b1",
      "name": "Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        180
      ],
      "webhookId": "ac2c424d-f210-4300-8535-22b21bb1905f",
      "credentials": {
        "telegramApi": {
          "id": "lahgaBq0bQO8KPNG",
          "name": "Привет1"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "id": "f805d1b8-d989-4308-bfee-a820d2eec905",
      "name": "Download File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -520,
        20
      ],
      "webhookId": "44f2baa4-d47e-46e0-948b-d4bdd74e9d8b",
      "credentials": {
        "telegramApi": {
          "id": "lahgaBq0bQO8KPNG",
          "name": "Привет2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "63844bbf-24c7-45f3-9018-d729fad38cb8",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -380,
        20
      ],
      "credentials": {
        "openAiApi": {
          "id": "qnqNGr4J1V43pQi6",
          "name": "OpenAi NEW"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        760
      ],
      "id": "686b6ec1-c87c-479e-a35b-bc88f1dd7003",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qnqNGr4J1V43pQi6",
          "name": "(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ "
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $json.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id || $json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.username || $json.message.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "user"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify($json) }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.first_name || $json.message.from.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -360,
        260
      ],
      "id": "2d31eea2-6fc0-4f76-93d8-f59edcd0711a",
      "name": "Save User Message",
      "credentials": {
        "supabaseApi": {
          "id": "DauvANnAuHBN382P",
          "name": "Supabase Documents"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Set Final Text').item.json.sessionId }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Set Final Text').item.json.user_id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('Set Final Text').item.json.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('ИНФО АГЕНТ').item.json.output }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ JSON.stringify($('Set Final Text').item.json.update || $('Set Final Text').item.json) }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Set Final Text').item.json.first_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        740,
        180
      ],
      "id": "0c7d4549-19bb-4178-af14-a42bf54774cf",
      "name": "Save Bot Message",
      "credentials": {
        "supabaseApi": {
          "id": "DauvANnAuHBN382P",
          "name": "Supabase Documents"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Final Text').item.json.text }}",
        "options": {
          "systemMessage": "You exist to help people implement automations and use AI solutions in life and business. Your job is to uncover the user's problem or question and provide a clear answer using your memory.\n\nIMPORTANT:\n\nYou don’t make things up. You use your knowledge base (via the DATA_TOOL) to retrieve relevant info and insights.\n\nConversation Flow:\n\nMake sure the person has entered the chat with a specific goal or a desire to learn something new.\n\nUnderstand their current situation. If they have a business, ask about its stage, challenges, or questions.\nExample: “Describe what’s going on in your project.”\n\nUnderstand their goal (if they have one) and what’s blocking it.\nExample: “What are you struggling with? What do you think is holding you back?”\n\nConfirm that you can help. Use the knowledge base to find relevant answers or insights that could move them forward.\n\nOffer a clear plan. Suggest actionable solutions that directly match their request. Explain what can be done and how.\n\nAlways end with a question or call to action, so the dialogue doesn’t hit a dead end.\n\nTone & Style:\n\nTalk in a way that even a kid or grandparent can understand. AI is a tough topic for many, so avoid heavy jargon.\n\nUse real-life examples and analogies to explain complex tools and ideas.\n\nStick to the structured conversation flow.\n\nResponse Format:\n\nYou're chatting in Telegram. Send replies in Markdown format optimized for messaging.\n\nMake the text easy and pleasant to read. Use formatting to guide attention.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -80,
        180
      ],
      "id": "cf799b57-95a8-45b1-a40e-bacd51db5bb7",
      "name": "ИНФО АГЕНТ",
      "retryOnFail": false
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        220,
        640
      ],
      "id": "37cdc061-db85-4293-b479-5394e0572b98",
      "name": "DATA BASE",
      "credentials": {
        "supabaseApi": {
          "id": "DauvANnAuHBN382P",
          "name": "Supabase Documents"
        }
      }
    },
    {
      "parameters": {
        "name": "documents",
        "description": "Provide a detailed and fact-based answer. Use the database as long-term memory, which contains real examples of how AI solutions have been implemented in businesses. Include evaluations, results, and future forecasts where available. Always mention specific project or company names if they are present in the data. Do not generalize — stick to concrete cases.",
        "topK": "=30"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        220,
        380
      ],
      "id": "749621af-a57a-4bd8-ac2f-a5de50840cec",
      "name": "DATA_TOOL"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        40,
        380
      ],
      "id": "29a778bc-ddc7-4152-b8bd-e8cae7ac64d2",
      "name": "ВРЕМЕННАЯ ПАМЯТЬ 1",
      "credentials": {
        "postgres": {
          "id": "lNLRbyKzfAOb1LAU",
          "name": "Supabase Postgress"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        380
      ],
      "id": "2a7010b3-9c17-40cb-ad17-6ff437e28f10",
      "name": "МОЗГ 1",
      "credentials": {
        "openAiApi": {
          "id": "UjEaVthWx9SHYusD",
          "name": "обнял :)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botSUDAKLUCHVSTAV/sendChatAction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Telegram Trigger').item.json.message.chat.id }},\n  \"action\": \"typing\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "89875a4a-bc8d-47bf-9da9-185a90db38b0",
      "name": "Typing 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.text || $json.message.text }}",
              "type": "string"
            },
            {
              "id": "8386c97a-d1b9-4000-9e17-86c2158e91af",
              "name": "sessionId",
              "value": "={{ 'user_' + $('Switch').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "877d9358-6785-4299-be83-7c78fd41924f",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "c58ae87e-c307-4af6-945f-bb8350aafc3d",
              "name": "username",
              "value": "={{ $('Telegram Trigger').item.json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "a44439db-9b02-4093-9cc9-19af6c9e1a3c",
              "name": "first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d65b621c-b717-408d-b88c-20690ebb9b90",
              "name": "update",
              "value": "={{ $('Telegram Trigger').item.json }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6f98838d-9ce2-4bcb-b02c-77e4de37076b",
      "name": "Set Final Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        260
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "openai/gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        500
      ],
      "id": "6984b3f4-39c2-45f0-aff3-97cfe6f521ae",
      "name": "4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "UjEaVthWx9SHYusD",
          "name": "OR"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "DATA BASE",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Save User Message": {
      "main": [
        [
          {
            "node": "ИНФО АГЕНТ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Typing 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "Save Bot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ИНФО АГЕНТ": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATA BASE": {
      "ai_vectorStore": [
        [
          {
            "node": "DATA_TOOL",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "DATA_TOOL": {
      "ai_tool": [
        [
          {
            "node": "ИНФО АГЕНТ",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ВРЕМЕННАЯ ПАМЯТЬ 1": {
      "ai_memory": [
        [
          {
            "node": "ИНФО АГЕНТ",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "МОЗГ 1": {
      "ai_languageModel": [
        [
          {
            "node": "ИНФО АГЕНТ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Final Text": {
      "main": [
        [
          {
            "node": "Save User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "DATA_TOOL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dc91e2f-13d7-4126-b676-3720d22d1bab",
  "meta": {
    "instanceId": "03e94f23f7822a7463cef39c630d67241aefb5250efc640a947ddbf069e7bead"
  },
  "id": "3LSJXl8QpteEtBpz",
  "tags": [
    {
      "createdAt": "2025-03-24T18:49:58.052Z",
      "updatedAt": "2025-03-24T18:49:58.052Z",
      "id": "R76d5UNKY6Gze2Ki",
      "name": "LunadLa"
    }
  ]
}
